{% extends 'content.html' %}


{% block header %}

<link rel="stylesheet" href="static/css/style/alltickets.css">

{% endblock %}

<!-- All tickets page -->
{% block bodier %}

<div class="block">
    <div class="title">
        <h2>All tickets</h2>
    </div>
    <div class="table">
        <table class="c-table">
            <thead>
                <tr>
                    <th scope="col">Requester</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="data">Customer Care Registry</td>
                    <td class="data">Verify your account</td>
                    <td class="data">Unassigned</td>
                    <td class="data">Open</td>
                    <td class="data">Yesterday</td>
                </tr>
                <tr>
                    <td class="data">Customer Care Registry</td>
                    <td class="data">Step 1: Welcome to Customer Care Registry</td>
                    <td class="data">Unassigned</td>
                    <td class="data">Pending</td>
                    <td class="data">Yesterday</td>
                </tr>
                <tr>
                    <td class="data">Customer Care Registry</td>
                    <td class="data">Step 2: Get started</td>
                    <td class="data">Unassigned</td>
                    <td class="data">Pending</td>
                    <td class="data">Yesterday</td>
                </tr>
                <tr>
                    <td class="data">Customer Care Registry</td>
                    <td class="data">Step 3: Follow the Guide</td>
                    <td class="data">Unassigned</td>
                    <td class="data">Pending</td>
                    <td class="data">Yesterday</td>
                </tr>
                <tr>
                    <td class="data">Customer Care Registry</td>
                    <td class="data">Start Working</td>
                    <td class="data">Unassigned</td>
                    <td class="data">Solved</td>
                    <td class="data">Yesterday</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}