{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<!-- Page style -->
<link rel="stylesheet" href="static/css/user_otp_verify.css">

{% endblock %}



<!-- Body -->
{% block body %}

<h4>{{ otpmsg }}</h4>

<section id="otp">
    <div class="right">
        <div class="rightdiv">

            <div class="lottie">
                <lottie-player src="static/lottie/emailverify.json" background="transparent" speed="1"
                style="width: 150px; height: 150px;" loop autoplay>
            </lottie-player>
            </div>

            <h1><i class="fa-solid fa-key" style="font-size: 20px;"></i> &nbsp; Verify OTP ( ADMIN )</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, laborum? Lorem ipsum dolor sit amet.</p>

            <form action="/adminverify" method="post" onsubmit="return true">
                <div>
                    <input type="text" id="user_entered_otp" name="user_entered_otp" placeholder="Enter OTP Here">
                </div>
                <div>
                    <button id="user_otp_verify_button" type="submit"><i class="fa-solid fa-fingerprint"></i> Verify</button>
                </div>
            </form>
        </div>
    </div>

</section>


<!--Disable this form-->
<form action="/addsignupadmin" method="post">
    <input type="text" id="signup_admin_username" name="signup_admin_username" value="{{ admin_full_name }}" placeholder="Full Name">

    <input type="email" id="signup_admin_email" name="signup_admin_email" value="{{ aemail }}" placeholder="Enter Email">

    <input type="number" id="signup_admin_phone_number" name="signup_admin_phone_number" value="{{ admin_phone_number }}" placeholder="Enter Phone Number">

    <input type="text" id="signup_admin_organization_name" name="signup_admin_organization_name" value="{{ organization_name }}" placeholder="Enter Organization Name">

    <input type="number" id="signup_admin_organization_employee" name="signup_admin_organization_employee" value="{{ organization_emp }}" placeholder="Enter Organization Employee">

    <input type="text" id="signup_admin_organization_address" name="signup_admin_organization_address" value="{{ organization_address }}" placeholder="Enter Organization Address">

    <input type="password" id="signup_admin_password" name="signup_admin_password" value="{{ passwords }}" placeholder="Enter Password">

    <input type="password" id="signup_admin_re_password" name="signup_admin_re_password" value="{{ re_passwords }}" placeholder="Retype Password">
    
    <button id="signup_button" type="submit"><i class="fa-solid fa-user-plus"></i> Resend Otp</button>
</form>


<style>

    #signup_admin_username{
        display: none;
    }
    #signup_admin_email{
        display: none;
    }
    #signup_admin_phone_number{
        display: none;
    }
    #signup_admin_organization_name{
        display: none;
    }
    #signup_admin_organization_employee{
        display: none;
    }
    #signup_admin_organization_address{
        display: none;
    }
    #signup_admin_password{
        display: none;
    }
    #signup_admin_re_password{
        display: none;
    }

</style>

{% endblock %}